body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.product-specs h2 {
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.product-specs table {
    width: 100%;
    border-collapse: collapse;
}

.product-specs td,
.product-specs th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}

.product-specs th {
    text-align: left;
    width: 120px; /* Điều chỉnh độ rộng của cột tiêu đề */
}

.product-specs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-specs ul li {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}
