#danhmucsp span {
    cursor: pointer;
}

#menu-item {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 10000;
}

#menu-item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#menu-item a {
    display: flex;
    visibility: visible;
    font-size: 14px;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-top: 1px solid #ddd;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#danhmucsp img{
    width: 24px;
    height: 24px;
    margin-top: -4px;
}

#danhmucsp:hover #menu-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#menu-item a:hover {
    background-color: #f4f4f4;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
/* 
/* Disable hover effect for index.html */
/* .disable-hover:hover #menu-item {
    display: none !important;
} */ 



/* Dropdown container */
.dropdown {
    position: relative; /* Necessary for absolute positioning of the dropdown content */
}

/* Dropdown content (shown on hover) */
.dropdown:hover #dropdown-menu2 {
    display: block;
}

#dropdown-menu2 {
    display: none;
    position: absolute;
    top: 100%; /* Simplified positioning */
    left: 0;
    width: 150px;
    color: black;
    background-color: #FFF;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

#sub-menu li #dropdown-menu2 a{
    color: black;
    margin-left: 10px;
}

#menu-item{
    display: none;
    position: absolute;
    top: 100%; /* Simplified positioning */
    left: 0;
    width: 150px;
    color: black;
    background-color: #FFF;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

#menu-item a {
    display: flex;
    font-size: 14px;
    width: 92%;
    height: 24px;
    text-align: left;
    text-decoration: none;
    color: #000;
    padding: 10px;
    background-color: #FFF;
    border-top: 1px solid #ddd;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#menu-item a img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    padding-left: 20px;
}

#menu-item span{
    flex-grow: 1;
}

#menu-item a:hover {
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
}
#menu-item a span:hover + .list-menu-item {
    display: block;
}